//Font-family
$font-family-header: cursive;
$font-family-paragraph: cursive;
//Button
$button-background-color: rgb(246, 61, 28);
$button-font-color: rgba(255, 255, 255, 0.979);
$button-updated-green: rgb(11, 193, 11);
