//-----------------Carousel Color's---------------------//
$color-primary: #000000;
$color-background-hover: #e481b9;
$color-hover: #ffff;
//-----------------Carousel Color's end ---------------------//

//-----------------NavBar Color's---------------------//
$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;
//-----------------NavBar Color's end---------------------//